#siteholder, #header, #middle, #content, #sidebar, #nav, #nav li a, #nav li span, .post, #sidebar .box {
    zoom: 1;
}

* #nav li.nav-2 a, * #nav li.nav-2 span,
* #nav li.nav-4 a, * #nav li.nav-4 span {
    padding: 9px 0 8px;
}


#nav li a, #nav li span {
    filter: alpha(opacity:70);
}

#nav a:hover, #nav a:focus,
#nav .act a, #nav .act span {
    filter: alpha(opacity:100);
}